* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    /* Dark background for better contrast */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}